@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

body {
    --binarycolor: #229220;
    color: #e0ecf0;
    background: #000000da;
    font-family: "Source Code Pro", monospace;
}